<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>BikeCoin | Empower the future of urban mobility </title>

    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/vendors.css">

    <meta name="description" content="BikeCoin Network is a decentralised platform and protocol for bike sharing and urban mobility">

    <meta property="og:title" content="BikeCoin" />
    <meta property="og:url" content="http://bikecoin.network" />
    <meta property="og:image" content="http://bikecoin.network/images/logo.png" />
    <meta property="og:site-name" content="Bike Coin" />
    <meta property="og:description" content="BikeCoin Network is a decentralised platform and protocol for bike sharing and urban mobility" />
    <meta http-equiv="Cache-Control" content="max-age=3600">
    
    <meta name="theme-color" content="#fff">
    <meta name="msapplication-navbutton-color" content="#fff">
    <meta name="apple-mobile-web-app-status-bar-style" content="#fff">

    <link rel="apple-touch-icon" sizes="57x57" href="images/favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="images/favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="images/favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="images/favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="images/favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="images/favicon/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon-180x180.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="Bike Coin">
    <link rel="manifest" href="images/favicon/manifest.json">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#fff">
    <meta name="application-name" content="Bike Coin">
    <link rel="icon" type="image/png" sizes="228x228" href="images/favicon/coast-228x228.png">
    <link rel="yandex-tableau-widget" href="images/favicon/yandex-browser-manifest.json">
    <meta name="msapplication-TileColor" content="transparent">
    <meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png">
    <meta name="msapplication-config" content="images/favicon/browserconfig.xml">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
    <link rel="shortcut icon" href="images/favicon/favicon.ico">
    <link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1)" href="images/favicon/apple-touch-startup-image-320x460.png">
    <link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)" href="images/favicon/apple-touch-startup-image-640x920.png">
    <link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" href="images/favicon/apple-touch-startup-image-640x1096.png">
    <link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)" href="images/favicon/apple-touch-startup-image-750x1294.png">
    <link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 736px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3)" href="images/favicon/apple-touch-startup-image-1182x2208.png">
    <link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3)" href="images/favicon/apple-touch-startup-image-1242x2148.png">
    <link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 1)" href="images/favicon/apple-touch-startup-image-748x1024.png">
    <link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 1)" href="images/favicon/apple-touch-startup-image-768x1004.png">
    <link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)" href="images/favicon/apple-touch-startup-image-1496x2048.png">
    <link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)" href="images/favicon/apple-touch-startup-image-1536x2008.png">

    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-5LJFWKV');
    </script>
    <!-- End Google Tag Manager -->

</head>

<body>

    <header>
        <div class="navbar-fixed-top">
            <nav class="navbar navbar-default nav-menu">
                <div class="container navbar-container">
                    <div class="navbar-header">
                        <a href="/" class="navbar-brand logo-fix">
                            <img src="images/logo.png" alt="Bikecoin">
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="footer-left">
                        Copyright &copy; 2018 All Rights Reserved.
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="footer-right">
                        <ul>
                            <li>
                                <a href="/#home">Home</a>
                            </li>
                            <li>
                                <a href="/#why_choose">About</a>
                            </li>
                            <li>
                                <a href="/#whitepaper">Document</a>
                            </li>
                            <li>
                                <a href="/#mobileapp">MVP</a>
                            </li>
                            <li>
                                <a href="/#roadmap">Roadmap</a>
                            </li>
                            <li>
                                <a href="/#token-sale">Token sale</a>
                            </li>
                            <li>
                                <a href="/#team">Team</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="scripts/vendor.js"></script>
    <script src="scripts/main.js"></script>

    <script>
        $(document).ready(function () {
            $("#presale-form").on("submit", function (event) {
                event.preventDefault();

                if (
                    $("#first_name").val() == "" ||
                    $("#last_name").val() == "" ||
                    $("#email").val() == "" ||
                    $("#phone_number").val() == "" ||
                    $("#desired_allocation").val() == "" ||
                    $("#postal_code").val() == ""
                ) {
                    toastr.warning("Bad request");
                    return
                }

                if (!$('#confirm').is(":checked")) {
                    toastr.warning("Please agree to the 'I understand ....'");
                    return
                }
                
                serializedData = $(this).serialize() + '&currency=' + $("#desired_allocation_currency").html(), 
                
                request = $.ajax({
                    url: "/action_presale",
                    type: "post",
                    data: serializedData
                });

                // Callback handler that will be called on success
                request.done(function (response, textStatus, jqXHR) {
                    if (response.status === "success") {
                        $("#first_name").val("");
                        $("#last_name").val("");
                        $("#email").val("");
                        $("#phone_number").val("");
                        $("#desired_allocation").val("");
                        $("#sending_addr").val("");
                        $("#postal_code").val("");
                        $("#note").val("");
                        $("#thankyou").modal("show");
                    } else {
                        toastr.error(response.data);
                    }
                });
            });
        });
    </script>
</body>

</html>