<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>BikeCoin | Empower the future of urban mobility </title>

    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/vendors.css">

    <meta name="description" content="BikeCoin Network is a decentralised platform and protocol for bike sharing and urban mobility">

    <meta property="og:title" content="BikeCoin" />
    <meta property="og:url" content="http://bikecoin.network" />
    <meta property="og:image" content="http://bikecoin.network/images/logo.png" />
    <meta property="og:site-name" content="Bike Coin" />
    <meta property="og:description" content="BikeCoin Network is a decentralised platform and protocol for bike sharing and urban mobility" />
    <meta http-equiv="Cache-Control" content="max-age=3600">
    
    <meta name="theme-color" content="#fff">
    <meta name="msapplication-navbutton-color" content="#fff">
    <meta name="apple-mobile-web-app-status-bar-style" content="#fff">

    <link rel="apple-touch-icon" sizes="57x57" href="images/favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="images/favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="images/favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="images/favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="images/favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="images/favicon/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon-180x180.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="Bike Coin">
    <link rel="manifest" href="images/favicon/manifest.json">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#fff">
    <meta name="application-name" content="Bike Coin">
    <link rel="icon" type="image/png" sizes="228x228" href="images/favicon/coast-228x228.png">
    <link rel="yandex-tableau-widget" href="images/favicon/yandex-browser-manifest.json">
    <meta name="msapplication-TileColor" content="transparent">
    <meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png">
    <meta name="msapplication-config" content="images/favicon/browserconfig.xml">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
    <link rel="shortcut icon" href="images/favicon/favicon.ico">
    <link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1)" href="images/favicon/apple-touch-startup-image-320x460.png">
    <link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)" href="images/favicon/apple-touch-startup-image-640x920.png">
    <link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" href="images/favicon/apple-touch-startup-image-640x1096.png">
    <link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)" href="images/favicon/apple-touch-startup-image-750x1294.png">
    <link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 736px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3)" href="images/favicon/apple-touch-startup-image-1182x2208.png">
    <link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3)" href="images/favicon/apple-touch-startup-image-1242x2148.png">
    <link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 1)" href="images/favicon/apple-touch-startup-image-748x1024.png">
    <link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 1)" href="images/favicon/apple-touch-startup-image-768x1004.png">
    <link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)" href="images/favicon/apple-touch-startup-image-1496x2048.png">
    <link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)" href="images/favicon/apple-touch-startup-image-1536x2008.png">

    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-5LJFWKV');
    </script>
    <!-- End Google Tag Manager -->

</head>

<body>

    <header>
        <div class="navbar-fixed-top">
            <nav class="navbar navbar-default nav-menu">
                <div class="container navbar-container">
                    <div class="navbar-header">
                        <a href="/" class="navbar-brand logo-fix">
                            <img src="images/logo.png" alt="Bikecoin">
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <div class="faq">
        <div class="container">
            <div class="title-web">
                <h3 class="title-top">BikeCoin Project</h3>
                <h2 class="title-bottom">FAQ Document</h2>
            </div>
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                <span class="number">1.</span>
                                <span>What is the project about?</span>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                            <span>BikeCoin is a blockchain platform and protocol which supports bike sharing and urban mobility.  The current focus is on sharing of 'smart bikes' which can be hired from service providers such as hotels, resorts and co-working spaces.</span><br>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                <span class="number">2.</span>
                                <span>What is a smart bike?</span>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <span>A smart bike is one which is enabled with GPS and near field communications, so that a rider can trigger the locking system remotely, for example using an app running on a mobile phone.  With the addition of a display, smart bikes are able to provide navigational information.  Smart bikes are typically powered by a dynamo mounted in the front wheel hub.</span>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                <span class="number">3.</span>
                                <span>Why is the service needed?</span>
                            </a>
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body">
                            <span>Bike sharing is a popular service in many cities, but it is centralised, operated either by a private company or government agency.  It lacks scalability because the fleet operator must deploy bikes in every city.  So called dockless-sharing systems limit the cycling equipment to inexpensive and durable bikes.  With BikeCoin, we can enable multiple merchants to collaborate on service delivery and we can offer high-end smart bikes for round trip rides.</span>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                                <span class="number">4.</span>
                                <span>What is meant by 'round trip' rides?</span>
                            </a>
                        </h4>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse">
                        <div class="panel-body">
                            <span>Bike sharing has gotten a bad name because it is designed for 'last mile' rides, such as one way from the train to work or home.  This leads to irresponsible 'ride and dump' behaviours, which result in vandalism and clutter on city streets.  Our bike platform supports responsible ridership and round trip rides where the rider is obligated to return the bike to the retailer or another custodian.  </span>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                                <span class="number">5.</span>
                                <span>Why use the blockchain for this application?</span>
                            </a>
                        </h4>
                    </div>
                    <div id="collapse5" class="panel-collapse collapse">
                        <div class="panel-body">
                            <span>Aside from the auditable integrity, and decentralised architecture, blockchain technology enables the network effects that will allow us to create a service which can scale quickly.  Bike suppliers, fleet operators and retail service providers collaborate in a bike sharing ecosystem.  New services can be launched anywhere, anytime.  Riders pay and merchants earn tokens. Merchants can set their own prices. Developers can make use of the BikeCoin protocol to harness the services of the platform, either for bikes or other urban mobility devices such as e-scooters.</span>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6">
                                <span class="number">6.</span>
                                <span>What is your market positioning?</span>
                            </a>
                        </h4>
                    </div>
                    <div id="collapse6" class="panel-collapse collapse">
                        <div class="panel-body">
                            <span>There are 4 interlinked markets in the supply chain for bike sharing: bicycle supply, fleet operations, custodianship and retail services.  We provide an underlying platform that allows merchants to serve a specialised market - such as a local fleet operator, or they can perform multiple roles.  The most vertically oriented arrangement would be an individual owner renting to an individual rider (similar to AirBnBs direct model).  Our BikeCoin ecosystem can grow without limit, across geographies and to embrace other forms of urban mobility.</span>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse7">
                                <span class="number">7.</span>
                                <span>Who is the intended user?</span>
                            </a>
                        </h4>
                    </div>
                    <div id="collapse7" class="panel-collapse collapse">
                        <div class="panel-body">
                            <span>The BikeCoin platform will provide service to individual riders and groups. Individuals would be able to hire bikes using a decentralised app, either P2P from a bike owner, or from a retail service provider.  When renting from providers such as hotels and resorts, the rider does not need to use crypto for payment.  The platform supports 'merchant pays' in such situations, which again will help the scalability of the services. </span>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse8">
                                <span class="number">8.</span>
                                <span>Who are your competitors?</span>
                            </a>
                        </h4>
                    </div>
                    <div id="collapse8" class="panel-collapse collapse">
                        <div class="panel-body">
                            <span>Mobike, Ofo and other dockless bike sharing operators are a competitors at the low end of the market, but they cannot support high-end bikes and are not based on blockchain.  Ofo is exploring blockchain for tracking only, not commerce.  Their expansion is constrained due to regulations designed to limit the negative social effects of one-way rides.  Boutique bike rental services such as one finds in resorts is another competitor, but they don't have a scalable business model.  Blockchain startups like DOVU are focusing on urban mobility, but do not have a bike sharing model.  Pedal offers a gamified blockchain biking app.  All of these are nascent projects that don't provide a complete ecosystem.</span>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse9">
                                <span class="number">9.</span>
                                <span>What is your competitive advantage?</span>
                            </a>
                        </h4>
                    </div>
                    <div id="collapse9" class="panel-collapse collapse">
                        <div class="panel-body">
                            <span>BikeCoin has a 2-year head start based on partnership with smart bike supplier Volata Cycles.  Volata already makes high-end bikes which are able to integrate into the blockchain.  Also, BikeCoin has an experienced blockchain development team.</span>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse10">
                                <span class="number">10.</span>
                                <span>How is blockchain used in the project?</span>
                            </a>
                        </h4>
                    </div>
                    <div id="collapse10" class="panel-collapse collapse">
                        <div class="panel-body">
                            <span>Blockchain is used to support asset management, tracking and commerce.  Each bike has an identity on the blockchain, using an asset token, and each bike's location is tracked on the blockchain.  This makes it difficult to steal a bike.  Each bike has a wallet address.  Riders pay into the bike wallet, which accumulates and then redistributes revenue-share to the other merchants.  BikeCoin also has various advanced cryptographic features that enable high transaction speed and the protection of confidential information.</span>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse11">
                                <span class="number">11.</span>
                                <span>What is the consensus algorithm used by the project and how was it picked?</span>
                            </a>
                        </h4>
                    </div>
                    <div id="collapse11" class="panel-collapse collapse">
                        <div class="panel-body">
                            <span>The recording of assets is performed on the Ethereum blockchain, using proof of work consensus protocol.  This is for transparency and to anchor our ERC20 token.  Transactions are handled on our own proprietary chain (based on Ethereum source codes) which allows for higher transaction speed.  This chain operates on proof of stake consensus and we will provide bonus tokens as an incentive for validators.</span>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse12">
                                <span class="number">12.</span>
                                <span>What role does the coin have?</span>
                            </a>
                        </h4>
                    </div>
                    <div id="collapse12" class="panel-collapse collapse">
                        <div class="panel-body">
                            <span>Our native BKC token will be used as a unit of measure, medium of exchange and store of value on the platform.  Any DApps built to leverage our BikeCoin platform will use our  protocols and the BKC token as a medium of exchange.  We will also compensate our community contributors, such as those providing computing resources using BKC tokens.</span>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse13">
                                <span class="number">13.</span>
                                <span>Who will want to buy this coin?</span>
                            </a>
                        </h4>
                    </div>
                    <div id="collapse13" class="panel-collapse collapse">
                        <div class="panel-body">
                            <span>The native BKC token will be of interest to two groups: (a) merchants participating in the bike ecosystem on the platform, and (b) community contributors who are earning tokens for services provided to the platform.</span>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse14">
                                <span class="number">14.</span>
                                <span>What is your total addressable market?</span>
                            </a>
                        </h4>
                    </div>
                    <div id="collapse14" class="panel-collapse collapse">
                        <div class="panel-body">
                            <span>Our addressable market includes the whole of bike sharing, which is currently a USD 5b business.  This market is expanding at a phenomenal compound annual growth rate of 20%.</span>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse15">
                                <span class="number">15.</span>
                                <span>Is your platform fully decentralised?</span>
                            </a>
                        </h4>
                    </div>
                    <div id="collapse15" class="panel-collapse collapse">
                        <div class="panel-body">
                            <span>Yes, we have decentralised the commercial activities, asset tracking and the validation of transactions.  Pricing is determined by merchants using the platform.  Even our computational algorithms will be published in open source so that the community can check our logic, thereby earning bug bounties.</span>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse16">
                                <span class="number">16.</span>
                                <span>How long do you estimate it will take for the network to launch?</span>
                            </a>
                        </h4>
                    </div>
                    <div id="collapse16" class="panel-collapse collapse">
                        <div class="panel-body">
                            <span>We will release alpha and beta versions on testnets by end of 2018 and will have a public release on the mainnet by 2nd quarter 2019.</span>
                        </div>
                    </div>
                </div>
    
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse17">
                                <span class="number">17.</span>
                                <span>What exchange(s) will/do you plan to be listed on?</span>
                            </a>
                        </h4>
                    </div>
                    <div id="collapse17" class="panel-collapse collapse">
                        <div class="panel-body">
                            <span>We will list our BKC token on decentralised exchanges and also on at least two major centralised exchanges.  Decentralised exchanges do not charge listing fees and the onboarding process is much easier.</span>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse18">
                                <span class="number">18.</span>
                                <span>What is your Monetary (money supply) Policy?</span>
                            </a>
                        </h4>
                    </div>
                    <div id="collapse18" class="panel-collapse collapse">
                        <div class="panel-body">
                            <span>BikeCoin will premine 800m tokens valued at USD 0.05 each, of which 79% will be released through the public sale (50%), block rewards (22%), community development (5%), bounty and airdrop (2%). The block rewards will be issued to validators - nodes which are hosting the transaction validation blockchain.  The maximum issue size is 800m BKC tokens.</span>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse19">
                                <span class="number">19.</span>
                                <span>What is your Fiscal (tax & incentives) Policy?</span>
                            </a>
                        </h4>
                    </div>
                    <div id="collapse19" class="panel-collapse collapse">
                        <div class="panel-body">
                            <span>To attract the broadest set of users, we will permit purchase in major cryptocurrencies and stable coins.  We will offer discounts to encourage our customers to use our token and we will have a 'buy back' program, to burn a percentage of tokens received through such purchases.</span>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse20">
                                <span class="number">20.</span>
                                <span>What are your fundraising thresholds? How did you come up with them?</span>
                            </a>
                        </h4>
                    </div>
                    <div id="collapse20" class="panel-collapse collapse">
                        <div class="panel-body">
                            <span><Our hard cap is USD 20m - this makes us a medium-sized token sale project.  The cost of development and marketing is high for us, though scaling cost is low.  Our soft cap is USD 5m, which is 25% of the hard cap.  This is the minimum raise for us to be viable./span>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse21">
                                <span class="number">21.</span>
                                <span>What will you do with unsold tokens?</span>
                            </a>
                        </h4>
                    </div>
                    <div id="collapse21" class="panel-collapse collapse">
                        <div class="panel-body">
                            <span>Unsold tokens will be burned.</span>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse22">
                                <span class="number">22.</span>
                                <span>What bonus or discount is available to early buyers?</span>
                            </a>
                        </h4>
                    </div>
                    <div id="collapse22" class="panel-collapse collapse">
                        <div class="panel-body">
                            <span>There will be bonuses of 5 - 50% available during our presale, with the increment larger for buyers willing to accept a longer lock-in period, from 3-9 months.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="footer-left">
                        Copyright &copy; 2018 All Rights Reserved.
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="footer-right">
                        <ul>
                            <li>
                                <a href="/#home">Home</a>
                            </li>
                            <li>
                                <a href="/#why_choose">About</a>
                            </li>
                            <li>
                                <a href="/#whitepaper">Document</a>
                            </li>
                            <li>
                                <a href="/#mobileapp">MVP</a>
                            </li>
                            <li>
                                <a href="/#roadmap">Roadmap</a>
                            </li>
                            <li>
                                <a href="/#token-sale">Token sale</a>
                            </li>
                            <li>
                                <a href="/#team">Team</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="scripts/vendor.js"></script>
    <script src="scripts/main.js"></script>

    <script>
        $(document).ready(function () {
            $("#presale-form").on("submit", function (event) {
                event.preventDefault();

                if (
                    $("#first_name").val() == "" ||
                    $("#last_name").val() == "" ||
                    $("#email").val() == "" ||
                    $("#phone_number").val() == "" ||
                    $("#desired_allocation").val() == "" ||
                    $("#postal_code").val() == ""
                ) {
                    toastr.warning("Bad request");
                    return
                }

                if (!$('#confirm').is(":checked")) {
                    toastr.warning("Please agree to the 'I understand ....'");
                    return
                }
                
                serializedData = $(this).serialize() + '&currency=' + $("#desired_allocation_currency").html(), 
                
                request = $.ajax({
                    url: "/action_presale",
                    type: "post",
                    data: serializedData
                });

                // Callback handler that will be called on success
                request.done(function (response, textStatus, jqXHR) {
                    if (response.status === "success") {
                        $("#first_name").val("");
                        $("#last_name").val("");
                        $("#email").val("");
                        $("#phone_number").val("");
                        $("#desired_allocation").val("");
                        $("#sending_addr").val("");
                        $("#postal_code").val("");
                        $("#note").val("");
                        $("#thankyou").modal("show");
                    } else {
                        toastr.error(response.data);
                    }
                });
            });
        });
    </script>
</body>

</html>