<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <title>BikeCoin | Trustless infrastructure for Premium Smart Bicycles</title>

    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/vendors.css">
    

    <meta property="og:title" content="BikeCoin"/>
    <meta property="og:url" content="http://bikecoin.me/"/>
    <meta property="og:image" content="http://bikecoin.me/images/logo.png"/>
    <meta property="og:site-name" content="Bike Coin"/>
    <meta property="og:description" content="Trustless infrastructure for Premium Smart Bicycles"/>
    
    <meta name="theme-color" content="#eeeeee">
    <meta name="msapplication-navbutton-color" content="#eeeeee">
    <meta name="apple-mobile-web-app-status-bar-style" content="#eeeeee">
    

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="transparent">
    <meta name="application-name" content="Bike Coin">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="Bike Coin">
    <meta name="msapplication-TileColor" content="transparent">
    <link rel="shortcut icon" href="images/favicon.png">
</head>

<body class="theme-dark is-smooth-effect no-touch loaded" data-spy="scroll" data-target="#mainnav" data-offset="80" id="home">
    
    <header class="site-header is-sticky has-fixed">
        <div class="navbar-fixed-top">
            <nav class="navbar navbar-default">
                <div class="container navbar-container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="#home" class="navbar-brand">
                            <img src="images/logo.png" alt="Bikecoin">
                        </a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse text-uppercase">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="select"> 
                                <a href="#about" class="menu">about
                                </a>
                            </li>
                            <li>
                                <a href="#ecosystem" class="menu">ecosystem
                                </a>
                            </li>
                            <li>
                                <a href="#roadmap" class="menu">roadmap
                                </a>
                            </li>
                            <li>
                                <a href="#team" class="menu">team
                                </a>
                            </li>
                            <li>
                                <a href="https://volatacycles.com/" target="_blank">Volata Cycle
                                </a>
                            </li>
                            <li>
                                <a href="presale">Pre-sale
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        <div id="particles-js" class="particles-container particles-js">
            <canvas class="particles-js-canvas-el" style="width: 100%; height: 100%;" width="1301" height="882"></canvas>
        </div>

        <div class="content-banner">
            <div class="text-center">
                <h1 class="title">Your <span class="cl-web text-uppercase font-bold">Smart Bike</span> Need <span class="cl-web text-uppercase font-bold">Crypto!</span></h1>
                <p class="description">Building the trustless infrastructure for smart bikes and IoT devices</p>
                <p class="description">Decentralised premium bike-sharing network with data privacy preserving</p>
                <div class="action">
                    <form id="add-whitelist">
                        <input id="email-subscribe" type="text" name="email" class="form-control subcribe" placeholder="Email address">
                        <button type="submit" class="btn btn-action">JoinWhitelist</button>
                    </form>
                </div>
                <div class="button">
                    <a class="btn btn-click" href="images/whitepaper/demo.pdf" target="_blank">technical whitepaper</a>
                    <a class="btn btn-click" href="images/whitepaper/demo.pdf" target="_blank">business whitepaper</a>
                </div>

                <ul class="social">
                    <li>
                        <a href="" target="_blank">
                            <i class="fa fa-telegram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/volatacycles" target="_blank">
                            <i class="fa fa-github"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/volatacycles" target="_blank">
                            <i class="fa fa-facebook-square"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://medium.com/@VolataCycles" target="_blank">
                            <i class="fa fa-medium"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/volatacycles" target="_blank">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/volatacycles" target="_blank">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </header>

    <div class="about" id="about">
        <div class="container">
            <div class="title-web">
                <h1 class="title-bottom cl-web">The Future Of Smart Bike</h1>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <div class="block-about">
                        <img src="images/XMLID_155_.png" alt="Bikecoin">
                        <h3 class="title text-uppercase cl-web">Bike-Ownership protocol</h3>
                        <div class="description">Leveraging ERC721, Bike owners can proof their ownership and securely govern their bike via smart contracts.</div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="block-about">
                        <img src="images/XMLID_45_.png" alt="Bikecoin">
                        <h3 class="title text-uppercase cl-web">Data privacy</h3>
                        <div class="description">With our Zero-Knowledge Proof technology, your data are end-to-end encrypted and distributed across BikeCoin network. Only you have access and share your data and files</div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="block-about">
                        <img src="images/XMLID_15_.png" alt="Bikecoin">
                        <h3 class="title text-uppercase cl-web">Seamless premium-bike sharing </h3>
                        <div class="description">BikeCoin allowing users to rent out their private vehicles using blockchain, directly through the phone without any manual involvement</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="group">

        <div class="token" id="ecosystem">
            <div class="container">
                <div class="content-token">
                    <div class="title-web">
                        <h1 class="title-bottom cl-web">Bike registration system</h1>
                        <h3 class="title-top">Security, Connectivity & Auditability</h3>
                        <p class="description">Bike owners can proof their ownership and report the bike stolen through the blockchain.
                            A smart computer or smart lock on the bike will register the position of the bike on the blockchain when they are locked. When a bike is stolen the police is able to see the latest position to respond instantly.
                            Insurance companies can automate their claim handling processing through a smart contract running on the blockchain.</p>
                    </div>

                    <img src="images/Group 182.png" class="images-token" alt="Bikecoin">

                    <div class="title-web">
                        <h1 class="title-bottom cl-web">Seamless Bike Fleet Service</h1>
                        <h3 class="title-top">Confidentiality, Transparency & Automaticality</h3>
                        <p class="description">BikeCoin is an open platform where bicycle manufacturers, hotel, premium resorts and co-working space freely collaborate together to launch bicycles fleet service.
                            BikeCoin protocol smoothly automate payment process, transparent collaboration among stake holders. Moreover, riders and merchants freely share and exchange their data with maximum privacy by our robust Zero-Knowledge Proof algorithms</p>
                    </div>

                    <img src="images/Group 185.png" class="images-token" alt="Bikecoin">
                </div>
            </div>    
            <img src="images/Group 153.png" alt="Bikecoin" class="image-background">
        </div>

        <div class="tech">
            <div class="container">
                <div class="title-web">
                    <h1 class="title-bottom cl-web">technology used</h1>
                </div>
                <div class="content">
                    <div class="content-left">
                        <div class="row">
                            <div class="col-sm-4 col-xs-4">
                                <img src="images/Group 349.png" alt="Bikecoin">
                            </div>
                            <div class="col-sm-4 col-xs-4">
                                <img src="images/6om6YH_I_400x400-a.png" alt="Bikecoin">
                            </div>
                            <div class="col-sm-4 col-xs-4">
                                <img src="images/1280px-React-icon.svg.png" alt="Bikecoin">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 col-xs-4">
                                <img src="images/Ipfs-logo-1024-ice-text.png" alt="Bikecoin">
                            </div>
                            <div class="col-sm-4 col-xs-4">
                            </div>
                            <div class="col-sm-4 col-xs-4">
                                <img src="images/Dynamo Hub.png" alt="Bikecoin">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 col-xs-4">
                                <img src="images/RTOS-logo-Final-a.png" alt="Bikecoin">
                            </div>
                            <div class="col-sm-4 col-xs-4">
                            </div>
                            <div class="col-sm-4 col-xs-4">
                                <img src="images/Zero-Knowledge Proof.png" alt="Bikecoin">
                            </div>
                        </div>
                    </div>
                    <div class="content-right">
                        <img src="images/Group 355.png" alt="Bikecoin">
                    </div>
                </div>
            </div>
        </div>

        <div class="token-sale">
            <div class="container">
                <div class="title-web">
                    <h1 class="title-bottom cl-web">token sale details</h1>
                    <h3 class="title-top" style="color:white">All unsold tokens from the sale will be burned.<br> The BikeCoin team’s tokens have a lockup period over 2 years.</h3>
                </div>
                <div class="content">
                    <div class="content-left">
                        <img src="images/Group 338.png" alt="Bikecoin">
                    </div>
                    <div class="content-right">
                        <div class="row">
                            <div class="col-sm-6">
                                <ul>
                                    <li>
                                        <h4>Hard Cap</h4>
                                        <h5>USD 26 million</h5>
                                    </li>
                                    <li>
                                        <h4>Soft Cap</h4>
                                        <h5>USD 2 million</h5>
                                    </li>
                                    <li>
                                        <h4>Date</h4>
                                        <h5>TBD</h5>
                                    </li>
                                    <li>
                                        <h4>Token Name</h4>
                                        <h5>bikecoin</h5>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-6">
                                <ul>
                                    <li>
                                        <h4>Token Symbol</h4>
                                        <h5>BKC</h5>
                                    </li>
                                    <li>
                                        <h4>BKC to USD rate</h4>
                                        <h5>1 BKC = USD 0.08</h5>
                                    </li>
                                    <li>
                                        <h4>Total Supply</h4>
                                        <h5>Total supply: 800,000,000</h5>
                                        <h5>ICO issue: 325,000,000</h5>
                                    </li>
                                    <li>
                                        <h4>Accepted currencies</h4>
                                        <h5>ETH</h5>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="title-web title-fund">
                    <h1 class="title-bottom cl-web">token & fund allocation</h1>
                    <h3 class="title-top" style="color:white">Up to 79% giving to our crypto commmunity</h3>

                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="token-image">
                            <img src="images/Group 216.png" alt="Bikecoin">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="token-image">   
                            <img src="images/Group 215.png" alt="Bikecoin">
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="roadmap" id="roadmap">
            <div class="container">
                <div class="title-web">
                    <h1 class="title-bottom cl-web">Roadmap</h1>
                </div>

                <div class="timeline">
                    <div class="timeline__wrap">
                        <div class="timeline__items">
                            <div class="timeline__item">
                                <div class="number">
                                </div>
                                <div class="timeline__content">
                                    <h2>Q1-2016</h2>
                                    <p> <li>Operation, Sale and Marketing in, San Francisco, US</li>
                                        <li>R&D and Design, Bike assembly in Milan</li>
                                        <li>Components main suppliers: Japan, Taiwan</li>
                                        <li>Trademark “VOLATA”</li>

                                        </p>
                                </div>
                            </div>
                            <div class="timeline__item">
                                <div class="number">
                                </div>
                                <div class="timeline__content">
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <h2>Q3-2016: The Volata Model 1</h2>
                                            <p>
                                                <li>Release the Volata Model 1</li>
                                                <li>Volata App</li>
                                                <li>Release Volata firmware</li>
                                            </p>
                                        </div>
                                        <div class="col-sm-4">
                                            <img src="images/Picture1.png" alt="Bikecoin" class="hidden-xs">
                                        </div> 
                                    </div>
                                </div>
                            </div>
                            <div class="timeline__item">
                                <div class="number">
                                </div>
                                <div class="timeline__content">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <img src="images/Picture2.png" alt="Bikecoin" class="hidden-xs">
                                        </div>
                                        <div class="col-sm-8">
                                            <h2>Q4-2016: The Volata Model 1c</h2>
                                            <p>
                                                <li>Release the Volata model 1c</li>
                                                <li>Upgrade Volata App</li>
                                                <li>Built applications( music, notification) on Volata firmware</li>
                                            </p>
                                        </div> 
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="timeline__item">
                                <div class="number">
                                </div>
                                <div class="timeline__content">
                                    <h2>Q1-2017: IP registration in US</h2>
                                    <p>
                                        <li>Overall electronic architecture</li>
                                        <li>Mechanisms/designs to integrate electronics</li>
                                        <li>Design of unique features</li>
                                        <li>Alpha and Beta Testing</li>
                                    </p>
                                </div>
                            </div>
                            <div class="timeline__item">
                                <div class="number">
                                </div>
                                <div class="timeline__content">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <img src="images/Untitled-2.png" alt="Bikecoin" class="hidden-xs">
                                        </div>
                                        <div class="col-sm-8">
                                            <h2>Q3-2017: Volata Bike Extensions</h2>
                                            <p>
                                                <li>Expandable bag</li>
                                                <li>Fenders</li>
                                                <li>Smart Carrier Rack</li>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="timeline__item">
                                <div class="number">
                                </div>
                                <div class="timeline__content">
                                    <h2>Q4-2017: Crypto Bike 3.0</h2>
                                    <p>
                                        <li>Pre-order revenue over 1 million</li>
                                        <li>Brainstorm the idea of Volata 3.0</li>
                                        <li>Gamma Testing</li>
                                    </p>
                                </div>
                            </div>
                            <div class="timeline__item">
                                <div class="number">
                                </div>
                                <div class="timeline__content active">
                                    <h2>Q1-2018: Cryto Bike Design</h2>
                                    <p>
                                        <li>Start development of proof of concept</li>
                                        <li>Business & Technical White papers release</li>
                                        <li>Private Sale launched</li>
                                    </p>
                                </div>
                            </div>
                            <div class="timeline__item">
                                <div class="number">
                                </div>
                                <div class="timeline__content">
                                    <h2>July-2018:</h2>
                                    <li>MVP demo lives with BikeOwnership Protocol.</li>
                                </div>
                            </div>
                            <div class="timeline__item">
                                <div class="number">
                                </div>
                                <div class="timeline__content">
                                    <h2>Aug-2018</h2>
                                    <li>ICO public sale launched</li>
                                </div>
                            </div>
                            <div class="timeline__item">
                                <div class="number">
                                </div>
                                <div class="timeline__content">
                                    <h2>Q4-2018: Crypto Products</h2>
                                    <p>
                                        <li>Release BikeCoin wallet</li>
                                        <li>BikeOwnership (ERC721) protocol live on main-net</li>
                                        <li>Volata crypto App 3.0</li>
                                    </p>
                                </div>
                            </div>
                            <div class="timeline__item">
                                <div class="number">
                                </div>
                                <div class="timeline__content">
                                    <h2>Q1-2019: Bike Crypto Fleet Service</h2>
                                    <p>
                                        <li>Release Management Dashboard for Service Operator, Network operator</li>
                                        <li>Launch Fleet service and deliver Volata bikes to Service Operators</li>
                                        <li>Release BikeCoin crypto firmware lib for smart computer or smart lock</li>
                                    </p>
                                </div>
                            </div>
                            <div class="timeline__item">
                                <div class="number">
                                </div>
                                <div class="timeline__content">
                                    <h2>Q2-2019: Opening Ecosystem</h2>
                                    <p>
                                        <li>APIs for integrating bicycle manufacturer’s inventory system/ ERP</li>
                                        <li>Release peer-to-peer rental service.</li>
                                        <li>Release Credit Rating system</li>
                                        <li>Integrating with DApps</li>
                                        <li>APIs for wearable devices to push performance data into BikeCoin ecosystem</li>
                                    </p>
                                </div>
                            </div>
                            <div class="timeline__item">
                                <div class="number">
                                </div>
                                <div class="timeline__content">
                                    <h2>Q3-2019: Opening Ecosystem</h2>
                                    <p>
                                        <li>APIs for integrating bicycle manufacturer’s inventory system/ ERP</li>
                                        <li>Release peer-to-peer rental service.</li>
                                        <li>Release Credit Rating system</li>
                                        <li>Integrating with DApps</li>
                                        <li>APIs for wearable devices to push performance data into BikeCoin ecosystem</li>
                                    </p>
                                </div>
                            </div>
                            <div class="timeline__item">
                                <div class="number">
                                </div>
                                <div class="timeline__content">
                                    <h2>Q4-2019: Advanced Ecosystem</h2>
                                    <li>
                                        Research & develop others data private-preserving technologies:
                                        Secure multi-party computation, Trusted Execution Environment
                                    </li>
                                </div>
                            </div>
                            <div class="timeline__item">
                                <div class="number">
                                </div>
                                <div class="timeline__content">
                                    <h2>2020: Advanced Ecosystem</h2>
                                    <p>
                                        <li>Cross-chain transfer data and integrate with other blockchains NEO, Zilliqa, ESO...</li>
                                        <li>Collaborate with other IoT chains, other vehicle blockchain-based system such as Carchain (BMW, Toyota..)</li>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="team" id="team">
            <div class="container">
                <div class="title-web">
                    <h1 class="title-bottom cl-web">bikecoin Team</h1>
                    <p class="description">The project has advanced to what it is today thanks to the help of an amazing team of contributors</p>
                </div>

                <h2 class="title-team">Leadership</h2>
                
                <div class="row">
                    <div class="col-sm-4">
                        <div class="member member-first">
                            <img class="avatar" src="images/Fabrizio.JPG" alt="Bikecoin">
                            <h3 class="title">Fabrizio Martini</h3>
                            <h5 class="position">Cofounder, President & Chairman</h5>
                            <a href="https://www.linkedin.com/in/fabrizio-martini-39068320/" target="_blank" class="linkedin">
                                <i class="fa fa-linkedin"></i>
                            </a>
                            <p class="description">Martini is an innovator, investor, serial entrepreneur with a passion for sustainable transportation. He covered the positions of Director of R&D as well as Principal Investigator and Program Manager of several U.S. government funded and successfully completed programs for the Department of Energy, Department of Defense, and NASA managing over $10M. He has contributed to the accomplishment of six world records related to energy storage technology, and was in charge of the commercialization of the first-of-its kind high temperature ultracapacitor for oil and gas and geothermal applications. Mr. Martini is a strong believer in bicycles to be the most advanced and efficient mean of transportation . He is author of 17 patents, including 3 from Volata Cycles.</p>
                            <div class="row logo">
                                <div class="col-xs-6">
                                    <img src="images/fastcap.png" class="logo-company" alt="Bikecoin">
                                </div>
                                <div class="col-xs-6">
                                    <img src="images/nasa.png" class="logo-company custom" alt="Bikecoin">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="member member-first">
                            <img class="avatar" src="images/Mattia.jpeg" alt="Bikecoin">
                            <h3 class="title">Mattia DeSantis</h3>
                            <h5 class="position">Cofounder & Chief Technology Officer</h5>
                            <a href="https://www.linkedin.com/in/mattiadesantis/" class="linkedin" target="_blank">
                                <i class="fa fa-linkedin"></i>
                            </a>
                            <p class="description">De Santis holds a degree in mechanical engineering from Polytechnic of Milan, one of the top university in Italy. He is a master in bicycle technologies, and he has developed over 20 bicycles models from scratch over his career. De Santis combined in Volata Model 1 and Model 1c all his experience and knowledge to developed the smartest and most advanced bicycle on the market.
                            De Santis deeply interested in both innovative and conventional manufacturing processes and has excellent handling and creativity to solve all type of design or functionality problem. He has over 10 years experience in design and manufacturing of consumer products, FEM and CFD analysis, prototyping of mechanical systems and CNC machines programming.
                            </p>
                            <div class="row logo">
                                <div class="col-xs-6">
                                    <img src="images/enovia.jpg" class="logo-company custom" alt="Bikecoin">
                                </div>
                                <div class="col-xs-6">
                                    <img src="images/Logo_Politecnico_Milano.png" class="logo-company custom" alt="Bikecoin">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="member member-first">
                            <img class="avatar" src="images/ericbui.jpeg" alt="Bikecoin">
                            <h3 class="title">Eric Bui</h3>
                            <h5 class="position">Cofounder & Blockchain Architecture</h5>
                            <a href="https://www.linkedin.com/in/eric-bui-4a5968b6/" class="linkedin" target="_blank">
                                <i class="fa fa-linkedin"></i>
                            </a>
                            <p class="description">Eric holds a Bachelor's degree with Honours in Computer Science (Intelligent System & Entrepreneurship) from NTU, Singapore. He was a founder and tech-advisor to AEvice Health, an asthma monitoring device and a winner of the SWITCH 2016 pitching competition. Eric has experience working on various blockchain technologies such Bitcoin, Ethereum, Hyperledger, Zero-Knowledge Proof, Homomorphic encryption and other cryptography.He is also an technical advisor for several blockchain startups and is one of founders of the largest Vietnam Blockchain Developer Community. Most recently, Eric was the blockchain lead of Electrify.Asia, which completed a successful token sale raising equivalent of USD 30m</p>
                            <div class="row logo">
                                <div class="col-xs-6">
                                    <img src="images/electrifyasia_logo.png" class="logo-company" alt="Bikecoin">
                                </div>
                                <div class="col-xs-6">
                                    <img src="images/ntu_logo.png" class="logo-company" alt="Bikecoin">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <h2 class="title-team contribuling">contributing team</h2>

                <div class="row">
                    <div class="col-sm-4">
                        <div class="member member-second">
                            <img class="avatar" src="images/profNg.png" alt="Bikecoin">
                            <h3 class="title">Prof Ng Wee Keong</h3>
                            <h5 class="position">Blockchain Architecture Advisor</h5>
                            <a href="https://wknwkn.wixsite.com/wkng" class="linkedin" target="_blank">
                                <i class="fa fa-linkedin"></i>
                            </a>
                            <p class="description">Dr. William K. NG works in the areas of machine learning, privacy-preserving techniques, query-permissible encrypted databases, blockchain systems, and data security.  He contributes to companies and industries as technology consultant on projects involving ﻿data analytics, artificial intelligence, data privacy and security, and blockchain
                             In recent years, he was General Chair of the 18th International Conference on Information and Communications Security (2016), Senior Program Committee Member of the 22nd to 17th Pacific-Asia Conference on Knowledge Discovery and Data Mining, General Chair of International Symposium on Cyber Security (CyberSec2013).
                            </p>
                            <div class="row logo">
                                <div class="col-xs-6">
                                    <img src="images/ntu_logo.png" class="logo-company" alt="Bikecoin">
                                </div>
                                <div class="col-xs-6">
                                    <img src="images/michigan.png" class="logo-company w100" alt="Bikecoin">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="member member-second">
                            <img class="avatar" src="images/Katie_Noble.jpeg" alt="Bikecoin">
                            <h3 class="title">Katie Noble</h3>
                            <h5 class="position">Product Manage Advisor</h5>
                            <h5 class="position">Tesla Manager</h5>
                            <a href="https://www.linkedin.com/in/katienoble/" class="linkedin" target="_blank">
                                <i class="fa fa-linkedin"></i>
                            </a>
                            <p class="description">Katie has worked for Tesla Motors for over 8 years covering position from System Engineer to Product Engineer. She has a deep experience in Automotive, Consumer Test & Measurement as well as the Aerospace & Defense industry.
                                Some of her specialties are: system integration and validation, management, team building, project management, embedded systems hardware design, customer relations, customer support, organization, basic internal website maintenance, embedded systems high-level design and support, electronics troubleshooting, embedded systems troubleshooting.</p>
                            <div class="row logo">
                                <div class="col-xs-6">
                                    <img src="images/tesla.png" class="logo-company w70" alt="Bikecoin">
                                </div>
                                <div class="col-xs-6">
                                    <img src="images/agile.png" class="logo-company w100" alt="Bikecoin">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="member member-second">
                            <img class="avatar" src="images/danchapman.jpg" alt="Bikecoin">
                            <h3 class="title">Daniel Chapman</h3>
                            <h5 class="position">Senior Artist for Volata Design Concept</h5>
                            <a href="https://www.linkedin.com/in/dan-chapman-028b6439/" class="linkedin" target="_blank">
                                <i class="fa fa-linkedin"></i>
                            </a>
                            <p class="description">Dan Chapman is Curator of the CITRIS Tech Museum, as well as Senior Artist for CITRIS and the Department of Mechanical Engineering at UC Berkeley. He also serves as a Lab Manager in the CITRIS Invention Lab. Daniel is a Senior Artist with extraordinary capabilities to connect Art and Tech. He embraces the feeling he gets in the pit of his stomach, when he approaches a difficult challenge he may not be able to accomplish. Be it fabrication, exceedingly tight deadline, something outside of my usual field of expertise or just being able to make and construct the image in my mind and making it a reality. The kernel of self doubt that needs to be respected, but not allowed to be in control.</p>
                            <div class="row logo">
                                <div class="col-xs-6">
                                    <img src="images/uc_berkeley.png" class="logo-company" alt="Bikecoin">
                                </div>
                                <div class="col-xs-6">
                                    <img src="images/critris.png" class="logo-company" alt="Bikecoin">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="member member-three rossi">
                            <img class="avatar" src="images/Roberto_Rossi.jpeg" alt="Bikecoin">
                            <h3 class="title">Roberto Rossi</h3>
                            <h5 class="position">Finance and Operations Advisor</h5>
                            <a href="https://www.linkedin.com/in/robertorossi1979/" class="linkedin" target="_blank">
                                <i class="fa fa-linkedin"></i>
                            </a>
                            <p class="description">Roberto is an expert in the financial aspect of the bicycle worldwide sector. He currently serves the position of Finance and operations director at Crank Brothers Inc. - Selle Royal USA Inc. He previously worked for Maschio Gaspardo Spa and for Ferrari Spa. Roberto has a strong experience in budgeting and forecasting, especially for the bicycle sector where he has been working for the last 6 years of his career. He supports Volata in most of the financial related aspects.</p>
                            <div class="row logo">
                                <div class="col-xs-6">
                                    <img src="images/crankbrothers.png" class="logo-company h120" alt="Bikecoin">
                                </div>
                                <div class="col-xs-6">
                                    <img src="images/ferrari.jpeg" class="logo-company w100" alt="Bikecoin">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="member member-three">
                            <img class="avatar" src="images/Gaspare_Licata.jpeg" alt="Bikecoin">
                            <h3 class="title">Gaspare Licata</h3>
                            <h5 class="position">Management and Strategy Advisor </h5>
                            <h5 class="position">CEO of CrankBrothers </h5>
                            <a href="https://www.linkedin.com/in/gasparelicata/" class="linkedin" target="_blank">
                                <i class="fa fa-linkedin"></i>
                            </a>
                            <p class="description">Gaspare is an experienced entrepreneur and leader with strong experience as CEO of CrankBrothers, manager of P&L at Selle Royal,Usa
Sales Manager (Dell, Michael Page, Sell Royal Usa, crankbrothers), Marketing Manager (crankbrothers)
Product and branding strategist (crankbrothers)
Additional specialties: Negotiation, Human Resources Management, Branding, Marketing
                        </p>
                            <div class="row logo">
                                <div class="col-xs-6">
                                    <img src="images/crankbrothers.png" class="logo-company h120" alt="Bikecoin">
                                </div>
                                <div class="col-xs-6">
                                    <img src="images/selle_royal.jpg" class="logo-company w120" alt="Bikecoin">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="member member-three">
                            <img class="avatar" src="images/william.jpg" alt="Bikecoin">
                            <h3 class="title">William Claxton</h3>
                            <h5 class="position">Blockchain Evangelist & Operation</h5>
                            <a href="https://www.linkedin.com/in/wmclaxton/" class="linkedin" target="_blank">
                                <i class="fa fa-linkedin"></i>
                            </a>
                            <p class="description">Bill Claxton is a seasoned technology entrepreneur. He holds a certificate in BlockChain For Technical Executives and Analysts from B9Lab Academy in the UK and has spoken at various blockchain events. Bill has been active in the IT scene in Singapore for more than 20 years, was an early Bitcoin investor and most recently served as Operations Director of fintech startup KYC Chain.
I am passionate about blockchain technology and digital media. An early Bitcoin investor, in the past few years I have been investigating and investing in opportunities to build decentralised web applications using blockchain technology.</p>
                            <div class="row logo">
                                <div class="col-xs-6">
                                    <img src="images/kyc_chain.png" class="logo-company" alt="Bikecoin">
                                </div>
                                <div class="col-xs-6">
                                    <img src="images/uc_berkeley.png" class="logo-company" alt="Bikecoin">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="partner">
        <div class="container">
            <div class="title-web">
                <h1 class="title-bottom cl-web">Media</h1>
            </div>
            <div class="row media-logo">
                <div class="col-sm-3 col-xs-6">
                    <a href="https://www.bikebiz.com/products/san-francisco-based-volata-cycles-release-high-tech-bicycle#after-ad" target="_blank">
                        <img src="images/media/logo-bikebiz.png" alt="Bikecoin">
                        <div class="description hidden-xs">“San Francisco based Volata Cycles release high tech bicycle”</div>
                    </a>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <a href="https://www.bikeradar.com/commuting/news/article/volata-cycles-integrated-bike-with-computer-lights-47637/" target="_blank">
                        <img src="images/media/logo-bikeradar.png" alt="Bikecoin">
                        <div class="description hidden-xs">“San Francisco-based company rethinks what should come with a bike”</div>
                    </a>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <a href="http://www.bikerumor.com/2016/07/20/volata-cycles-announces-smart-urbancommuting-bike-for-2017/" target="_blank">
                        <img src="images/media/logo-bikerumor.png" alt="Bikecoin">
                        <div class="description hidden-xs">“Volata Cycles has built these technologies and more into their bike providing an all around urban/commuter capable of hitting your everyday route”</div>
                    </a>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <a href="http://design-milk.com/volata-app-controlled-bicycle/" target="_blank">
                        <img src="images/media/logo-designmilk.png" alt="Bikecoin">
                        <div class="description hidden-xs">“San Francisco-based Volata Cycles have engineered a bicycle worthy of a “2.0” designation”</div>
                    </a>
                </div>
            </div>
            <div class="row media-logo">
                <div class="col-sm-3 col-xs-6">
                    <a href="https://www.dwell.com/article/volata-the-app-controlled-bicycle-59e00a51" target="_blank">
                        <img src="images/media/logo-dwell.png" alt="Bikecoin">
                        <div class="description hidden-xs">“San Francisco-based Volata Cycles have engineered a bicycle worthy of a 2.0 designation, one designed to work in unison with 2.4″ app-based embedded computer integrated into the handlebar”</div>
                    </a>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <a href="http://www.standard.co.uk/news/techandgadgets/engineer-builds-dream-bike-for-londons-commuters-a3306276.html" target="_blank">
                        <img src="images/media/logo-eveningstandard.svg" alt="Bikecoin">
                        <div class="description hidden-xs">“Engineer builds 'dream bike' Volata for London's commuters”</div>
                    </a>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <a href="https://www.fastcompany.com/3061989/this-3500-tech-filled-smart-bike-has-a-horn-louder-than-some-cars" target="_blank">
                        <img src="images/media/logo-fastcompany.svg" alt="Bikecoin">
                        <div class="description hidden-xs">“Beyond the electronics, it’s designed to be as comfortable as possibile for commuting. But unlike many commuter bikes, it’s also meant to be fast”</div>
                    </a>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <a href="https://futurism.com/high-tech-bicycle-from-volata-has-everything-a-rider-needs/" target="_blank">
                        <img src="images/media/logo-futurism.png" alt="Bikecoin">
                        <div class="description hidden-xs">“This high-tech bike has everything you’ll ever need (and then some)”</div>
                    </a>
                </div>
            </div>
            <div class="row media-logo">
                <div class="col-sm-3 col-xs-6">
                    <a href="http://www.gizmag.com/volata-smart-bike/44387/" target="_blank">
                        <img src="images/media/logo-gizmag.png" alt="Bikecoin">
                        <div class="description hidden-xs">“Volata's new bike is designed to be the antidote, neatly integrating those various bits and pieces into one cohesive package”</div>
                    </a>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <a href="https://www.highsnobiety.com/2016/07/27/volata-cycles-smart-bikes/" target="_blank">
                        <img src="images/media/logo-highsnobiety.svg" alt="Bikecoin">
                        <div class="description hidden-xs">“Volata Cycles might be the smartest bike yet”</div>
                    </a>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <a href="https://www.redbull.com/gb-en/volata-cycles-introduce-the-worlds-smartest-bike" target="_blank">
                        <img src="images/media/logo-redbull.png" alt="Bikecoin">
                        <div class="description hidden-xs">“Is this the ultimate evolution of the bicycle?”</div>
                    </a>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <a href="http://road.cc/content/tech-news/199910-smartest-road-bike-you%E2%80%99ve-ever-seen" target="_blank">
                        <img src="images/media/logo-roadcc.png" alt="Bikecoin">
                        <div class="description hidden-xs">“Is this the smartest road bike you’ve ever seen?”</div>
                    </a>
                </div>
            </div>
            <div class="row media-logo">
                <div class="col-sm-3 col-xs-6">
                    <a href="https://www.si.com/tech-media/2016/07/27/volata-hi-tech-smart-bicycle-bike" target="_blank">
                        <img src="images/media/logo-sportillustrated.svg" alt="Bikecoin">
                        <div class="description hidden-xs">“Volata building the world’s first premium hi-tech bike”</div>
                    </a>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <a href="https://techcrunch.com/2016/07/19/volata-smart-bike/" target="_blank">
                        <img src="images/media/logo-techcrunch.svg" alt="Bikecoin">
                        <div class="description hidden-xs">“The Volata high-tech bike is designed to have everything a cyclist needs”</div>
                    </a>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <a href="https://uncrate.com/volata-bike/" target="_blank">
                        <img src="images/media/logo-uncrate.svg" alt="Bikecoin">
                        <div class="description hidden-xs">“The Volata Bike looks to bring this efficient transport up to speed”</div>
                    </a>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <a href="http://www.wired.com/2016/07/volata-commuter-bicycle/" target="_blank">
                        <img src="images/media/logo-wired.svg" alt="Bikecoin">
                        <div class="description hidden-xs">"This thing is packed with clever touches"</div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="video">
        <div class="container">
            <div class="title-web">
                <h1 class="title-bottom cl-web">Videos</h1>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="block">
                        <img src="images/video/video 1.jpg" class="w100">
                        <div class="play">
                            <a data-fancybox href="https://www.youtube.com/watch?v=zMrOY6hheBk">
                                <img src="images/play.png" alt="Bikecoin">
                            </a>
                        </div>
                    </div>
                    <a data-fancybox href="https://www.youtube.com/watch?v=zMrOY6hheBk" class="title-video">Meet Volata, The Evolution Of Your Everyday Ride</a>
                </div>
                <div class="col-sm-4">
                    <div class="block">
                        <img src="images/video/video 2.png" class="w100">
                        <div class="play">
                            <a data-fancybox href="https://www.youtube.com/watch?v=dyuZ4ynpAeo">
                                <img src="images/play.png" alt="Bikecoin">
                            </a>
                        </div>
                    </div>
                    <a data-fancybox href="https://www.youtube.com/watch?v=dyuZ4ynpAeo" class="title-video">Meet Volata Model 1c, The Ultimate City Crossover</a>
                </div>
                <div class="col-sm-4">
                    <div class="block">
                        <img src="images/video/video 3.jpg" class="w100">
                        <div class="play">
                            <a data-fancybox href="https://www.youtube.com/watch?v=aOX6WFJpUSQ">
                                <img src="images/play.png" alt="Bikecoin">
                            </a>
                        </div>
                    </div>
                    <a data-fancybox href="https://www.youtube.com/watch?v=aOX6WFJpUSQ" class="title-video">Volata Bike: fantastic sportsmanship and useful</a>
                </div>
            </div>
        </div>
    </div>
 
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="footer-left">
                        <img src="images/logo.png" alt="Bikecoin">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="footer-right">
                        <ul>
                            <li>
                                <a href="">About</a>
                            </li>
                            <li>
                                <a href="">FAQ</a>
                            </li>
                            <li>
                                <a href="">Press</a>
                            </li>
                            <li>
                                <a href="">Careers</a>
                            </li>
                            <li>
                                <a href="">Legal</a>
                            </li>
                            <li>
                                <a href="">Newsletter</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>    
    </footer>

    <script src="scripts/vendor.js"></script>
    <script src="scripts/main.js"></script>

    <script>
        $( document ).ready(function() {
          $("#add-whitelist").on("submit", function( event ) {
            event.preventDefault();
            serializedData = $(this).serialize();
  
            request = $.ajax({
                url: "/add_whitelist",
                type: "post",
                data: serializedData
            });

            $('#email-subscribe').val('');

            request.done(function (response, textStatus, jqXHR){
              if(response.status === "success") {
                toastr.success("Thank you for registration!");
              } else {
                toastr.error(response.data);
              }
            });
          });
        });
    </script>

</body>

</html>