$font-header: SpiffilyNF;
$font-copy-light: Brown-Light;
$font-copy-reg: Brown-Regular;

$break-large: 992px;
$break-small: 768px;
$break-1200: 1200px;

$color-pop: #F33956;
$color-pop-dark: #ce0c2b;

$color-pop-minor: #7babbf;
$color-pop-minor-dark: #487b9b;

$color-orange: #E26F5B;
$color-green: #78B0A7;

$color-dark: #313031;
$color-grey: #bcbcbb;
$color-light: #f6f6f6;

$color-text-grey: #999;

$alto: #dfdddd;
$black: #313031;
$shipgray: #484452;
$cuttysark: #51666f;
$balticsea: #2c2932;
$terracotta: #e46f57;
$amaranth: #e63d57;
$opal: #a8c1bd;
$porcelain: #ebedef;
$wildsand: #f6f6f6;
$hintofred: #fdfcfc;
